
.header{
	padding: 20px 35px;
}
.header__logo{
	display: inline-block;
}
.header__nav{
	display: inline-block;
}
.header__list_item{
	display: inline-block;
}
.header__list_link{
	text-decoration: none;
	text-transform: uppercase;
}